# ignore the file by git

CoreTutorial/tempCodeRunnerFile.py

BasicPracticeProgram/tempCodeRunnerFile.py

OopsTutorial/tempCodeRunnerFile.py

AdvanceTutorial/tempCodeRunnerFile.py

DatabaseProgramming/tempCodeRunnerFile.py

TkinterTutorial/tempCodeRunnerFile.python
TkinterTutorial/tempCodeRunnerFile.py

.idea